<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>arty♡ | Dashboard</title>
</head>
<body>
    <section class="main">
        <div class="container">
            <h1>arty<b>♡</b></h1>
            <% if (typeof(code) != "undefined" && typeof(user) != "undefined"){ %>
                <div class="error">
                    <p><%= code %></p>
                </div>
            <%}%> 
            <a href="/admin/genInvite"><button class="loginknop">Generate Invite</button></a>
        </div>
    </section>
</body>
</html>